header{
  background: rgb(180,180,180)
  padding:2%;
  background-image: url(../img/flywheel.jpg);
  background-size: 100%;
}

h1{
  color: rgb(255,255,255);
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Times New Roman";
  padding: 20px;
}

h2{
  color:rgb(0,0,0);
  font-family: "Times New Roman";
}


.left{
  display: inline-block;
  width: 20%;
  float: left;
  padding:1%;
  background: green;
  text-align: center;
  height: 100vh;
}

.left img{
  border: solid 2px black;
  width: 75%;
  margin: 8% 2%;
}

.right{
  display: inline-block;
  width:75%;
  float: right;
}

nav a {
  display:inline-block;
  font-family: "Times New Roman";
  color: rgb(0,0,0);
  background:rgba(240,240,240,0.5);
  text-align: center;
  padding: 20px;
  margin-bottom: 3%;
  margin-left: 4%;
  width: 15%;
  text-decoration: none;
  border-radius: 10px;

}
nav a:hover{
  background: rgba(255,255,255,0);
}

nav a:focus{
  background: rgb(240,240,240);
}

nav a:active{
  border-color: rgb(255,255,255);
}

.active{
  background: rgb(255,255,255);
}

table{
  font-family: sans-serif;
  width: 75%;
  margin: 2%;
  margin-left: 8%;
}

td{
  color: grey;
  background: rgba(60,179,113,0.1);
  padding: 1%;
  font-size: 15px;
  font-weight: 600;
}

th{
  padding: 1.5% 0.5% 1.5% 1%;
  background-color: green;
  background: linear-gradient(to right, rgba(60,179,113,1), rgba(60,179,113,0.8));
  color: white;
  border-bottom: 5px;
  border-radius: 3px 3px 0 0;
  font-size: 17px;
}

th:first-child{
  text-align: left;
}

th:not(:first-child){
  text-align: center;
}

td:first-child{
  text-align: left;
}

td:not(:first-child){
  text-align: center;
}

tr:not(:first-child){
  opacity: 0.8;
}

tr:hover{
  opacity: 1;

}

td:hover{
  text-shadow: 0 0 2px rgb(148,190,109); /*this code is for color change to green when mouse on it*/
}

th:hover{
  text-shadow: 0 0 3px rgb(240,240,240);
}

section{
  background:rgb(255,255,255);
  font-family: "Times New Roman";
}

body{
  padding: 0.5%;
  margin: 0.5%;
}
